@import "../../theme/mixins.scss";
@import "../../theme/variables.scss";

.container {
    @include flex-view(row, center, center, unset);
    background: #F5F5F5;
    border-radius: 10px;
    box-sizing: border-box;
    width: calc(100% - 150px);
    max-width: 1600px;
    position: absolute;
    height: calc(100% - 220px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media only screen and (max-width: 480px) {
        width: calc(100% - 50px);
        height: calc(100% - 300px);
    }

    @media only screen and (max-width: 360px) {
        width: calc(100% - 50px);
        height: calc(100% - 220px);
    }

    .divider {
        height: 75%;
        padding: 2px;
        background-color: $primary-color;
    }

    .left_contents {
        text-align: center;
        width: 48%;

        img {
            margin: 0 auto;
        }
    }

    .right_contents {
        box-sizing: border-box;

        .description {
            color: #646464;
            padding-top: 20px;
            text-align: center;
        }

        .signin_request {
            color: #000000;
            font-size: 18px;
            margin-top: 20px;
            text-align: center;

            a {
                color: #33CD32;
                font-weight: 600;
                text-decoration: none;
            }
        }

        form {
            margin-top: 40px;

            @media only screen and (max-width: 480px) {
                margin-top: 20px;
            }

            .input_error {
                color: $danger;
                font-size: 0.8rem;
                position: relative;
                text-align: right;
                top: -10px;
            }

            .link {
                float: right;
                position: relative;
                top: -5px;
                text-transform: capitalize;
                text-decoration: none;
                color: #3F3F3F;
            }

            .action_button {
                margin-top: 20px;
            }

            .login_options {
                color: #3F3F3F;
                margin: 22px 0;
                text-align: center;
            }

            .action_buttons {
                @include flex-view(row, center, space-between, unset);
            }

            .error {
                color: $danger;
                padding-top: 10px;
                text-align: center;
            }

            .success{
                color: $ss-primary;
                padding-top: 10px;
                text-align: center;
            }

            .signup_request {
                color: #000000;
                font-weight: 400;
                font-size: 18px;
                margin-top: 80px;
                text-align: center;

                @media only screen and (max-width: 480px) {
                    margin-top: 20px;
                }

                a {
                    color: #33CD32;
                    font-weight: 600;
                    text-decoration: none;
                }
            }
        }
    }
}