$primary-color: #ffffff;
$secondary-color: #F5F5F5;
$tertiary-color: #08085E;
$text-color: #33CD32;
$dark-text-color: #000000;
$bright-bg: #7CDB7B;
$light-bg: #B1ECB1;
$bottom-shape-bg: #CECEDF;


// New color codes
$ss-primary: #33CD32;
$ss-secondary: #08085E;
$ss-hightlight: #fff708;
$ss-disabled: rgba(51, 205, 50, 0.2);
$ss-border: #D1D1D1;
$light-text: #3F3F3F;
$white: #ffffff;
$black: #000000;
$danger: #f51f1f;
$danger_light: #f08784;
$tooltip-bg: #505050;
$light-blue: #CECEE0;

// Content Backgound Variables
$background-color: #F5F5F5;
$border-radius: 10px;

$global-padding: 6.875rem 4.688rem;