@tailwind base;
@tailwind components;
@tailwind utilities;


.iconBg{
  background: radial-gradient(
    ellipse at center,
    #33cd32 60%,
    rgba(51, 205, 50, 0.25) 0
  );
}

@layer components {
  .public-layout {
    @apply bg-[#F5F5F5] rounded-[10px] overflow-auto w-full pt-9 px-2 md:pt-24;
  }
  .public-layout-inner {
    @apply flex flex-row justify-center items-center;
  }
  .public-layout-left {
    @apply w-[48%] text-center hidden sm:hidden md:hidden lg:flex flex-col justify-center items-center;
  }
  .public-layout-right {
    @apply w-full sm:w-full md:w-4/5 lg:w-1/2 flex flex-col justify-center items-center;
  }
  
  input[type=text], input[type=tel],input[type=email],input[type=password],select{
    @apply border-gray-300 shadow-sm-light
  }

  
}


/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */



